html {
	min-height: 500px; 
	min-width: 1000px;
}
.beingDragged {
    height: 24px;
    margin-bottom: .5em !important;
    border: 2px dotted #ccc !important;
    background: none !important;
}
.link {
	float: right;
}