<div ng-controller="anilistController" class="container">
	<a href="https://anilist.co/api/auth/authorize?grant_type=authorization_pin&client_id=bote795-nuwwf&response_type=pin" target='_newtab'>Anilist</a>
	<form ng-submit="saveCode()">
		<div class="form-group">
			<label for="pin">Paste Pin Code</label>
			<input ng-model="PinCode"  type="text" class="form-control">
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
	<md-content style="background: none;">
	    <form ng-submit="$event.preventDefault()">
	      <md-autocomplete md-selected-item="selectedItem" md-search-text="searchText" md-items="item in querySearch(searchText)" md-item-text="item.title_romaji" md-min-length="1" placeholder="Name of anime?" md-input-id="testId">
	        <md-item-template>
						<img ng-src="{{item.image_url_sml}}">
	          <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.title_romaji}}</span>
	        </md-item-template>
	        <md-not-found>
	          No matches found for "{{searchText}}".
	        </md-not-found>
	      </md-autocomplete>
	      <br>
		<button type="submit" class="btn btn-primary" ng-click="selected(selectedItem)">Submit</button>
	    </form>
  	</md-content>
	<br>
	<br>
	<br>
</div>