<div ng-controller="editAnimeController" class="container">
	<h3>Edit Anime Info</h3>
	<div ng-show="edit.sucess"class="alert alert-success">
	  <strong>Success!</strong>
	</div>
	<form ng-submit="editForm()">
		<div class="form-group">
		  <label >Name</label>
		  <input class="form-control" ng-model="edit.name"type="text" >
		</div>
		<div class="form-group" >
		  <label>Ep</label>
		  <input class="form-control" ng-model="edit.ep" type="text" >
		</div>
		<div class="form-group">
		  <label>Home Url for this Anime AKA "Link"</label>
		  <input class="form-control"  ng-model="edit.homeUrl" >
		</div>
		<div class="form-group">
		  <label>Total Eps</label>
		  <input class="form-control" ng-model="edit.totalEps" >
		</div>
		<br>
	  	<button type="submit" class="btn btn-primary">Submit</button>
	  	<a href="#home">
	  		<button class="btn btn-default">Cancel</button>
	  	</a>
	</form>
  	<br>
  	<br>
  	<br>
</div>
