<div class="tab-content">
  <div ng-controller="AnimeDataController" class="tab-pane active" id="home">
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading" id="foo">
          <h4 class="panel-title">
            <a  data-target="#collapseOne" data-toggle="collapse" data-parent="#accordion">
              Add Anime
            </a>
            <div style="float:right;">
              <input ng-click="toggleMultiple()" type="checkbox" id="mutliple">Multiple additions
            </div>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
          <div class="panel-body">
            <!--form-->
            <form ng-submit="addNew()" id="addAnime"class="form-horizontal">
              <fieldset><!-- fieldset -->
                <div class="form-group"><!-- AnimeNameField -->
                  <label for="inputAnimeName" class="col-lg-2 control-label">Anime Name</label>
                  <div class="col-lg-10">
                    <input ng-model="newAnimeName" type="text" class="form-control" name="inputName" placeholder="Anime Name ... bleach,Naruto, etc.">
                  </div>
                </div><!-- end AnimeNameField -->
                <div class="form-group"><!-- EpField -->
                  <label for="inputEpisode" class="col-lg-2 control-label">Episode Number</label>
                  <div class="col-lg-10">
                    <input ng-model="newAnimeEpisode" type="text" class="form-control" name="inputEpisode" placeholder="Epsiode Number ex: 1">
                  </div>
                </div><!--end EpField -->
                <div class="form-group"><!-- form group Submit -->
                  <div class="col-lg-10 col-lg-offset-2">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </div><!--end form group Submit -->
              </fieldset><!--end fieldset -->
            </form>
          </div>
          <!--form end-->
        </div>
      </div>
    </div>
    <div id="Title">
    </div>
    <table id="NewTable" class="table table-striped table-hover" style="display:none;"><!-- table style="display:none;" -->
      <thead><!-- thead -->
        <tr>
          <th>Anime Name</th>
          <th>Options</th>
        </tr>
      </thead><!--end thead -->
      <tbody><!-- tbody -->
      </tbody><!--end tbody -->
    </table><!-- end table -->  

    <div id="CurrentTable">
    </div>
    <table id="DefaultTable" class="table table-striped table-hover"><!-- table -->
      <thead><!-- thead -->
        <tr>
          <th>Anime Name</th>
          <th>Options</th>
        </tr>
      </thead><!--end thead -->
      <tbody><!-- tbody -->
        <tr ng-repeat="anime in animeArray | orderBy: 'name'" >
            <td> {{ ($index + 1)  +"." }}
              <!-- show the homeurl if it contains it -->
              <a ng-show="anime['homeUrl'] != 'home'" href="{{anime['homeUrl']}}" target="_newtab">{{anime["name"]}}</a>
              <span ng-hide="anime['homeUrl'] != 'home'">{{anime["name"]}}</span>
            </td>
            <td>
                <div class="btn-toolbar">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default"  ng-click="minus(anime)">-</button>
                        <button type="button" class="btn btn-default disabled"  >
                          {{Episode(anime)}}
                        </button>
                        <button type="button" class="btn btn-default" ng-click="add(anime)">+</button>
                        <button type="button" class="btn btn-default"><a href="#/edit/Anime/{{$index}}" ><i class="fa fa-pencil-square-o fa-lg"></i></a></button>
                        <button type="button" class="btn btn-default" ng-click="delete(anime)">X</button>
                    </div>
                    <a ng-show='anime["isNewEpAvialable"] && anime["newEpUrl"] != "url"'href="{{anime['newEpUrl']}}" target='_newtab'><span class='badge'>New</span></a>
                </div>
            </td>
        </tr>
      </tbody><!--end tbody -->
    </table><!-- end table --> 
    <!-- home -->
    <span class="label label-default"><a href="http://nicolasbotello.com/Pages/projects/HomeATS.html" target='_newtab'>Questions?</a></span>
    <span class="label label-default">Total of Episodes from: <a href="http://www.animenewsnetwork.com/" target='_newtab'>animenewsnetwork API</a></span>
  </div><!--/tab-pane-->
</div><!--/tab-content-->