<!DOCTYPE html>
<html>
<head>
  <title>Anime Tracking</title>
  <style>html {margin-top:.5cm; width: 600px;} </style>
  <script src="js/lib/jquery-2.0.2.min.js"></script>
  <script src="js/lib/angular.min.js"></script>
  <script src="js/lib/angular-route.js"></script>
  <script src="js/lib/angular-animate.js"></script>
  <script src="js/lib/angular-aria.js"></script>
  <script src="js/lib/angular-material.js"></script>
  <script src="js/lib/sortable.js"></script>
  <script src="js/private.js"></script>
  <script src="js/options/app.js"></script>
    <link rel="stylesheet" type="text/css" href="css/lib/angular-material.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="css/lib/bootstrap.min.css" media="screen" />
  <link href="css/lib/toggle-switch.css" rel="stylesheet" type="text/css" media="screen" />
  <link href="css/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="screen" />
  <link href="css/options.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body ng-app="myApp">
  <div class="container"><!-- container -->
    <div ng-controller="anilistController" class="container">
      <div ng-hide="userSignIn">
        <a href="https://anilist.co/api/auth/authorize?grant_type=authorization_pin&client_id=bote795-nuwwf&response_type=pin" target='_newtab'>Anilist</a>
        <form ng-submit="saveCode()">
          <div class="form-group">
            <label for="pin">Paste Pin Code</label>
            <input ng-model="PinCode"  type="text" class="form-control">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div ng-show="sucess"class="alert alert-success">
        <strong>Import Succseful!</strong>
      </div>
      <div ng-show="error"class="alert alert-danger">
        <strong>Import error!</strong>
      </div>
      <div class="row">
        <div class="col-md-6">
           <h4>Link Extension Anime</h4>
          <div ng-init="currentUsersAnime()" ng-model="animeArray" class="anime" >
            <label class="checkbox" ng-repeat="anime in animeArray track by $index"> 
              <input type="checkbox" />
                  {{anime["name"]}}
              </br>
            </label>
          </div>
        </div>
        <div class="col-md-6">
           <h4>List Provider Anime</h4>
          <div ng-init="RetrieveUserList()" ng-hide="watching.length == 0" ng-model="watching" class="listProvider">
            <label class="checkbox" ng-repeat="item in watching track by $index"> 
              <input type="checkbox" />
                  <img ng-src="{{item.anime.image_url_sml}}">
                        {{item.anime.title_english}}
              </br>
            </label>
          <div class="noFields" ng-show="watching.length == 0">No Animes available</div>
        </div>
        <button ng-click="link()"type="submit" class="btn btn-primary link">Link Anime</button>
        <button ng-click="import()"type="submit" class="btn btn-primary link">Import Anime</button>
      </div>


    </div>      
  </div><!-- end container -->

<!-- classes -->
<script src="js/classes/Manager.js"></script>
<script src="js/classes/animeDataManager.js"></script>
<script src="js/classes/updateWebsiteManager.js"></script>

<!-- libraries -->
<script src="js/lib/jquery-ui.js"></script>
<script src="js/lib/bootstrap.min.js"></script> 
<!-- services -->
<script src="js/services/anilistService.js"></script>

<!-- controllers -->
<script src="js/animeDataController.js"></script>
<script src="js/updateWebsitesController.js"></script>
<script src="js/options/optionsController.js"></script>

</body>
</html>





